<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GAMERZ PLANET!</title>
		 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main3.css">
  </head>

<body>
<script src= "https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin= "anonymous"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
window.onload = function(){
	window.open('/juegos/sc','new games release','menubar=0, resizable=0,status=0,width=500,height=300,left=10,top=10')	
}
</script>




 <nav class= "navbar navbar-expand-md">
	<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="main-navigation">
		<ul class="navbar-nav">
			<li class="nav-item">
			<a class="nav-link" href="/juegos/list">Ver juegos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/juegos/help">Acerca de</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/cliente/registry">Registrar</a>
			</li>
			<div th:unless="${#authorization.expression('isAuthenticated()')}">  
       			<li class="nav-item">
        		<a class="nav-link" href="/juegos/login">Iniciar sesión</a>
       			</li>
     		 </div>       		      
			<div sec:authorize="isAuthenticated()">
				<li class="nav-item">
				<a class= "nav-link" href="/juegos/logout">Cerrar sesion</a>
				</li>
			</div>
		</ul>
	</div>
</nav>

<header class="page-header header container-fluid">
<div class="overlay">
	<div class= "description">	
	 <div class="card-body rounded" style="background-color: rgba(0,0,0, 1); ">	
		<b><h1  style="color:rgba(220,220,220);"><span style='font-size:25px;'>&#11088; BIENVENIDO &#11088;</span></h1></b>			
		<p style="color:rgba(220,220,220);"> En este sitio encontraras información de tus juegos favoritos<br>
			<span style='font-size:25px;'>&#128293;&#9889;&#127918; Unete y Disfruta &#127918;&#9889;&#128293;</span>
					
		 </p>
		</div>
	</div>
</div>
</header>
</body>
</html>